{% extends 'base.html' %}
   {% block title %}
      Сообщения
{% endblock %}
{% block content %}
<div class="container mt-5" >
  <h1 class="mb-4">Все Сообщения: </h1>
 {% for message in messages_sent %}
 <article class="media content-section">
   Кому отправлено:
    {{ messages.getter }}
   Отправлено:
    {{ messages.timestamp }}
   Текст
    {{ messages.body }}
   Прочитано:
    {{ messages.received }}
 </article>
{% endfor %}
   {% for message in messages_got %}
 <article class="media content-section">
   От кого:
    {{ messages.sender }}
   Отправлено:
    {{ messages.timestamp }}
   Текст
    {{ messages.body }}
 </article>
{% endfor %}
</div>
{% endblock %}