 <p><ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link px-2 text-muted">Главная</a></li>
      <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link px-2 text-muted">Об авторе</a></li>
      <li class="nav-item"><a href="{{ url_for('contact_us') }}" class="nav-link px-2 text-muted">Обратная связь</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Наверх</a></li>
    </ul>
  </p>
 <div class="nav justify-content-center">
    <span class="text-muted" style="float:center;">© 2022 Copyright  <span style="color:red">Ya</span>tube v.2.1</span>
 </div>