{% extends 'base.html' %}
   {% block title %}
{% if is_edit %} Редактировать запись: {{ post.title }}{% else %}Добавить пост{% endif %}
{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">
<form method="POST">
  <h1 class="offset-md-2">
  {% if is_edit %} Редактировать запись: {{ post.title }}
  {% else %}Создать пост{% endif %}
  </h1>
  {% for item in form %}
  {{ form.hidden_tag() }}

  {% if item.widget.input_type != 'hidden' %} {{ item.label(class='form-label') }} {% endif %}

  {% if item.errors %} {{ item(class='form-control is-invalid') }}

  {% for error in item.errors %} {{ error }} {% endfor %}
  {% else %}
    {{ item(class='form-control') }}
  {% endif %}
  <br>
  {% endfor %}

<button type="submit" class="btn btn-outline-secondary">
    {% if is_edit %} Редактировать
    {% else %}Создать{% endif %}
</button>
</form>
</div>

{% endblock %}